
<div class="container w-25 pt-5">
  <h1 class="pb-3">Login here...</h1>

  <div *ngIf="data?.error" >
    <p class="alert alert-danger">{{data?.error}}</p>
  </div>


  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <!-- Email -->
    <label class="form-label">Email</label>
    <input formControlName="email" class="form-control" type="email" />
    <small
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      class="text-danger"
      >Email is required.</small
    ><br />

    <!-- Password -->
    <label class="form-label">Password</label>
    <input formControlName="password" class="form-control" type="password" />
    <small
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      class="text-danger"
      >Password is required.</small
    ><br />

    <!-- Submit button -->
    <div class="row pt-3">
        <button class="btn btn-outline-secondary" type="submit">Sign Up</button>
    </div>
  </form>
</div>
